@use "./base.scss"; 
//@use "./themes/black/_index.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

div.content.centered{
    padding-right: 1rem;
}

/* Color texto TOC */
div.toc.desktop-only ul.toc-content.overflow a {
    color: #dadada; 
    opacity: 1;
}

hr {
  margin-top: 2.5rem !important;
}

// Opcion de que se scrolleen las sidebar junto con el center
// .page > #quartz-body .sidebar {
//     position: relative !important;
// }
body .page > #quartz-body .page-header .popover-hint{
    margin: 1rem;
}

body .page > #quartz-body h1.article-title{
    font-size:2.5rem !important;
}

article.popover-hint{
    margin-left: 1rem;
}
body .page > #quartz-body .page-listing{
    margin-left: 1rem;
}

.page > #quartz-body .sidebar.left {
    padding-right: 0; 
}

@media all and ($desktop) {
    /* Esconder sidebar right si esta vacía */
    div.sidebar.right:empty {
    width: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important; 
    padding: 0 !important;
    margin: 0 !important;
}
   
    body .page:has(div.sidebar.right:empty) > #quartz-body div.center,
    body .list:has(div.sidebar.right:empty) > #quartz-body div.center {
        min-width: calc(100%  + var(--sidebar-right-toggle-inner-width-open)) !important;
        max-width: calc(100% + var(--sidebar-right-toggle-inner-width-open)) !important;        
    }
    body .page > #quartz-body div.sidebar.left .search {
        width: 90% !important;
        max-width: 90% !important;
    }
}

@media all and ($tablet) {
    body .page > #quartz-body div.sidebar.left .flex-component,
    body .page > #quartz-body div.sidebar.left .search {
        width: 96% !important;
        max-width: 96% !important;
    }
    body .page > #quartz-body div.sidebar.left{
        position: sticky !important;
        top: 0 !important;
        background-color: #000 !important; 
        z-index: 10 !important;
    }
}

@media all and ($mobile) {
    body .page > #quartz-body div.sidebar.left .flex-component,
    body .page > #quartz-body div.sidebar.left .search {
        width: 100% !important;
        max-width: 100% !important;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    body .page > #quartz-body div.sidebar.left{
        position: sticky !important;
        top: 0 !important;
        background-color: #000 !important; 
        z-index: 10 !important;
        padding-top: 0 !important;
    }
    body .page > #quartz-body div.explorer{
        margin-top: 1rem;
    }
    body .page > #quartz-body div.sidebar.left {
        flex-direction: column !important;
    }
    .search-button{
        padding: 0 !important;
        width:90%;
        max-width: 90%;
        margin: unset;
    }
}
